version: "3.9" #version of docker-compose
services:
  mysql-service:
    container_name: mysql
    image: mysql:latest
    restart: always
    command:
      --default-authentication-plugin=mysql_native_password
    ports:
      - "3307:3306"
    environment:
      - MYSQL_ROOT_PASSWORD=admin1                    #default password of the MySQL container
      - MYSQL_DATABASE=customer_db
      - MYSQL_USER=springstudent
      - MYSQL_PASSWORD=springstudent
    volumes:
      #- ./data:/var/lib/mysql                         #database data volume
      - ./src/main/db:/docker-entrypoint-initdb.d/:ro #database files called when the container is built and started for the first time
  producer-service:
    container_name: producer
    depends_on:
      - mysql-service
    build:
      context: ./
      dockerfile: producer.Dockerfile
    command:
      --publish 8081:8080
    ports:
      - "8081:8080"
  adminer-service:
    container_name: adminer
    image: adminer
    restart: always
    ports:
      - "9000:8080"
  zookeeper-service:
    container_name: zookeeper
    image: confluentinc/cp-zookeeper:latest
    environment:
      - ZOO_ENABLE_PROMETHEUS_METRICS=yes
      - ALLOW_ANONYMOUS_LOGIN=yes
      - ZOOKEEPER_CLIENT_PORT=2181
    ports:
      - '2181:2181'
  kafka-service:
    container_name: kafka
    image: confluentinc/cp-kafka:latest
    environment:
      - KAFKA_BROKER_ID=0
      - KAFKA_ZOOKEEPER_CONNECT=zookeeper-service:2181
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka-service:9092
      - KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
    ports:
      - '9092:9092'
      - '8082:8082'
    depends_on:
      - zookeeper-service